.restaurantImage{
    height: 25vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bookingForm{
    max-width: 500px;
    min-width: 150px;
    width: 100%;
}
.mat-form-field{
    width: 100%;
}